/* Global Style */
@font-face {
  font-family: 'SF Pro Text';
  src: url('./sf-pro-text-regular.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('./sf-pro-text-semibold-webfont.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('./SF-Pro-Text-RegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}
body, html {
  font-family: "SF Pro Text", sans-serif !important;
  font-size: 16px;
  letter-spacing: -.38px;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Theme */

.container {
  max-width: calc(63.75rem + 6rem);
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(221, 221, 221);
}

@media screen and (max-width: 768px) {

}

/* Introduction */

header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
header h1 {
  font-size: 1.3rem;
  font-weight: bold;
}
.intro {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-bottom: 2rem;
}
.intro .bio {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro .photo {
  max-width: 272px;
}
.intro .photo img {
  max-width: 100%;
}

/* Research */

.research p {
  max-width: 800px;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.research .publications {
  margin-top: 1rem;
}
.entry {
  margin-bottom: 1.5rem;
}
.venue {
  font-size: 0.9rem;
}
.venue span {
  font-weight: bold;
}
.title {
  font-size: 1.1rem;
  font-weight: bold;
}
.authors {
  color: #6e6e6e;
  font-size: 0.9rem;
}
.authors span {
  border-bottom: 1px solid #666;
}