@font-face {
	font-family: 'Gibson';
	src: url('./Gibson-Book.otf');
	font-weight: normal;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gibson';
	src: url('./Gibson-Regular.otf');
	font-weight: bold;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gibson';
	src: url('./Gibson-SemiBold.otf');
	font-weight: 800;
	font-style: normal;
}


