@import "../theme.sass"

.Navbar
	+font-roboto
	height: 8rem
	+desktop
		height: 10rem
	.container
		height: 100%
	.row
		display: flex
		align-items: center
		height: 100%
	.item
		a
			font-size: 1.25rem
			font-weight: bold
			color: $text-light
			padding-left: 1.5rem
			padding-right: 1.5rem
			user-select: none
			height: 100%
			display: flex
			align-items: center
			+mobile
				padding-left: .75rem
				padding-right: .75rem
			&:hover
				color: $text
				border: none
			&.active
				color: $text
		&:first-child a
			padding-left: 0rem