@import "bulma/sass/utilities/initial-variables.sass"
$family-sans-serif: "Gibson", sans-serif
$section-padding: 3rem 2.5rem
$border-color: #dee2e6
$text: $black-bis
$text-light: #888888
$link: $text
$link-hover: $text

a:hover 
	border-bottom: 1px dotted $text-light

.section-title
	font-size: 1.3rem
	font-weight: 800